.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}
.form-elements{
    margin: 13px;
    padding: 8px;
    width:80%;
    border-radius: 7px;
    border: 1px solid darkblue;
    background-color: #ffffff;
    word-break: break-word;
}
.form-elements-color{
    margin: 13px;
    padding: 8px;
    border-radius: 7px;
    border: 1px solid darkblue;
    background-color: #f6f6fc;
    word-break: break-word;
}