@property --eb-progress-value {
    syntax: "<integer>";
    inherits: false;
    initial-value: 0;
  }
  
  @keyframes eb-progress {
    to {
      --eb-progress-value: var(--value);
    }
  }
  
  body {
    font-family: -apple-system, system-ui, Helvetica, Arial, sans-serif;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    max-width: 800px;
    height: 100vh;
  }
  
  .eb-progress-bar {
    --size: 4.5rem;
    --inner-bg: #f2f2f2;
    --primary-color: var(--col);
    --secondary-color: #dfe0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 2px rgb(0 0 0 / 40%), inset 0 0px 1px rgb(0 0 0 / 30%),
      0 1px 2px rgb(0 0 0 / 60%), 0 4px 2px rgb(0 0 0 / 20%),
      0 9px 4px rgb(0 0 0 / 10%), inset 0 2px 1px #ffffff8c;
    width: var(--size);
    height: var(--size);
    font-size: calc(var(--size) / 5);
    color: var(--primary-color);
    background: radial-gradient(
        closest-side,
        var(--inner-bg) 79%,
        transparent 80% 100%
      ),
      conic-gradient(
        var(--primary-color) calc(var(--eb-progress-value) * 1%),
        var(--secondary-color) 0
      );
    border-radius: 50%;
  
    &-wrapper {
      display: grid;
      place-items: center;
      gap: 0.5rem;
      padding: 1rem;
      transform: scale(1.5);
    }
  
    &,
    &::before {
      animation: eb-progress 2s 1 forwards;
    }
  
    &::before {
      counter-reset: percentage var(--eb-progress-value);
      content: counter(percentage) "%";
      font-weight: 400;
      font-family: Roboto;
      font-size: 15px;
      color: #9e9e9e;
  
      background: #f5f6f7;
      background-image: -webkit-gradient(
        linear,
        right top,
        right bottom,
        color-stop(0%, #ffffff),
        color-stop(100%, #d3d1cb)
      );
  
      box-shadow: 1px 1px 3px rgb(0 0 0 / 15%);
      padding: 20px 15px;
      border-radius: 50%;
      z-index: 1;
      position: relative;
      border: 1px solid #d0d0d0;
    }
  
    &-title {
      text-align: center;
      color: inherit;
      letter-spacing: 2px;
      line-height: 1.2;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 400;
      font-family: Roboto;
    }
  
    progress {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }
  
  h2 {
    font-family: "integralcfmedium" !important;
    margin-top: 6px;
  }
  
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 64px;
    }
  }
  